#banner {
  font-family: arial;
  background-color: rgb(233, 72, 72);
  height: 10vh;
  width: 100%;
  text-align: center;

  #banner-title {
    margin: 0 auto;
    color: #fff;
    line-height: 10vh;
  }
}
